<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="appInfo" class="ro.lexit.web.core.AppInfo">
    	<property name="majorVersion" value="${appInfo.majorVersion}"/>
		<property name="minorVersion" value="${appInfo.minorVersion}"/>
		<property name="release" value="${appInfo.release}"/>
		<property name="stage" value="${appInfo.stage}"/>	
		<property name="environment" value="${appInfo.environment}"/>		
	</bean>	
	
	<bean id="appSettings" class="ro.lexit.common.dataValues.AppSettings">
		<property name="basedir" value="${appSettings.basedir}"/>
	</bean>
	
</beans>
